{% extends "parent_template.html" %}
{% block title %}WHOI-Plankton Images{% endblock %}
{% block body %}
<div class="container-fluid">
<div class="row">
  <div class="col-3 " id="sticky-sidebar">
    <div class="bg-light border-right vh-100 sticky-top" id="sidebar-wrapper">
        <div class="sidebar-heading">WHOI-Plankton <br/> Example IFCB images </div>
        <div class="list-group list-group-flush overflow-auto h-100">
          {% for group_name, chunks in group_chunks.items() %}
          <div class="dropdown show">
  <a href="#" class="list-group-item list-group-item-action bg-light"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ group_name }}
  </a>
  <div class="dropdown-submenu" aria-labelledby="dropdownMenuLink">
    {% for chunk in chunks %}
    {% for image in chunk %}
    <div class="dropdown-item border" href="#"> {{ image.class }} </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>
          {% endfor %}
        </div>
    </div>
</div>


<div class="col-9">
{% for group_name, chunks in group_chunks.items() %}
<div class="text-center">
  <h1>{{ group_name }}</h1>
  {% for chunk in chunks %}
  <div class="row">
    {% for image in chunk %}
      {% if image %}
    <div class="col-md-auto center">
        {{ image.class }}
        <div class="col px-md-5"><img src="{{ image.path }}" class="img-fluid" style="width: 200px"></div>
    </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endfor %}
</div>
 </div>
  </div>
  </div>
</div>

{% endblock %}
