<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css" />
    <!-- bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>WHOI Plankton</title>
</head>
<body>
{% block body %}
<div class="container-fluid">
<div class="text-center mb-5">
  <h1>{{ class_name }}</h1>
    <div class="row justify-content-center">
  {% for chunk in class_chunks %}
  <div class="col md-auto justify-content-center">
    {% for image in chunk %}
      {% if image %}
      <span class="col">
       <img src="{{ image.path }}" class="img-fluid">
          </span>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
        </div>
    </div>

    </div>
{% endblock %}
</body>
</html>