<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WHOI Plankton</title>
</head>
<body>
<div class="text-center">
  <h1>{{ class_name }}</h1>
  {% for chunk in class_chunks %}
  <div class="row justify-content-center">
    {% for image in chunk %}
      {% if image %}
    <div class="col-md-auto justify-content-center">
        {{ image.class }}
        <div class="col padding-0"><img src="{{ image.path }}" class="img-fluid" style="max-width: 200px"></div>
    </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>
</body>
</html>