<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="style.css" />
    <!-- bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- sidebar -->
    <link href="simple-sidebar.css" rel="stylesheet">
  <link href="css/ifcb.css" rel="stylesheet">

    {% block head %}
    <title>{% block title %} Title {% endblock %} - Test Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %} Here is the content of the site{% endblock %}</div>
    <div id="footer">
        {% block body %}
        {% endblock %}
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    $('img').click(function() { alert('hello there') });
</script>
</body>
</html>